:root {
  --main-dark-txt-cl: #121212;
  --second-dark-txt-cl: #000;

  --gray-txt-cl: #484848;
  --second-gray-txt-cl: #575757;

  --main-white-txt-cl: #f7f7f7;
  --second-white-txt-cl: #d8d7d7;
  --third-white-txt-cl-50: rgba(216, 215, 215, 0.5);

  /* Background */
  --main-black-bg: #121212;
  --main-gray-bg: #f6f6f6;
  --backdrop-bg-40: rgba(46, 47, 66, 0.4);
  --hero-desk-bg-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 70.73%,
    rgba(18, 18, 18, 0.8) 100%
  );
  --hero-mob_tabl-bg-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 70.73%,
    #121212 98.51%
  );

  /* Other */
  --white-hov-foc: #fff;
  --gray-arrow-cl-30: rgba(18, 18, 18, 0.3);
  --second-gray-arrow-cl-30: rgba(247, 247, 247, 0.3);
  --header-border-cl-20: rgba(247, 247, 247, 0.2);
  --rating-mark-shd-cl-10: rgba(0, 0, 0, 0.1);

  --soc-media-gap: 14px;
  --main-btn-gap-mob: 12px;
  --main-btn-gap-tabl: 14px;

  --main-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --z-index-header: 999;
  --z-index-hero-cont: 1;
  --z-index-rating-mark-block: 2;
}

/**
  |============================
  | Global
  |============================
*/
body {
  font-family: 'DM Sans', sans-serif;
  color: var(--main-dark-txt-cl);
  font-size: 14px;
  text-transform: uppercase;

  background-color: var(--main-gray-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  font-size: 0;
  max-width: 100%;
  height: auto;
}

picture {
  font-size: 0;
  display: block;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

address {
  font-style: normal;
}

.modal-inp:focus {
  outline: none;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

/**
  |============================
  | Util
  |============================
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 68px;
  }
}

@media screen and (max-width: 767.98px) {
  .text-content {
    margin-bottom: 32px;
  }

  .section-title {
    margin-bottom: 32px;
  }
}

/**
  |============================
  | Main buttons
  |============================
*/
.main-btn-group {
  display: flex;
  justify-content: center;
  gap: var(--main-btn-gap-mob);
}
@media screen and (min-width: 768px) {
  .main-btn-group {
    gap: var(--main-btn-gap-tabl);
  }
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0 18px;

  color: inherit;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  background-color: transparent;
  border: 0.8px solid var(--main-black-bg);
  border-radius: 32px;
  transition: color var(--main-transition),
    background-color var(--main-transition);
}
@media screen and (max-width: 374.98px) {
  .main-btn {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .main-btn {
    padding: 0 24px;
    height: 40px;

    line-height: 1.71;
  }
}
@media screen and (min-width: 1440px) {
  .main-btn {
    height: 42px;

    font-size: 18px;
    line-height: 1.33;
  }
}

.main-btn:hover,
.main-btn:focus {
  color: var(--main-white-txt-cl);

  background-color: var(--main-black-bg);
}

.hero .main-btn,
.hotel .main-btn {
  border-color: var(--main-white-txt-cl);
}

.hero .main-btn:hover,
.hero .main-btn:focus,
.hotel .main-btn:hover,
.hotel .main-btn:focus,
.modal-btn:hover,
.modal-btn:focus {
  color: var(--main-black-bg);

  background: var(--white-hov-foc);
}

/**
  |============================
  | Slider buttons
  |============================
*/
.slider-btns {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .slider-btns {
    gap: 32px;
  }
}

.slider-btn {
  font-size: 0;

  background-color: transparent;
  border: none;
}

.slider-icon {
  width: 36px;
  height: 36px;

  fill: transparent;
  stroke: var(--main-dark-txt-cl);
}
@media screen and (max-width: 767.98px) {
  .slider-icon {
    width: 24px;
    height: 24px;
  }
}

.slider-btn:disabled .slider-icon {
  stroke: var(--gray-arrow-cl-30);
}

/**
  |============================
  | Logo
  |============================
*/
.logo {
  display: block;
  width: 127px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--second-white-txt-cl);
  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
}
.logo > .accent {
  display: inline-block;
  margin-bottom: 3px;

  color: var(--main-white-txt-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
}
@media screen and (max-width: 767.98px) {
  .logo {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    width: 150px;

    font-size: 8px;
    line-height: 1.25;
  }

  .logo > .accent {
    font-size: 20px;
    line-height: 1.2;
  }
}

/**
  |============================
  | Social media
  |============================
*/
.soc-media {
  display: flex;
  gap: var(--soc-media-gap);
}

.soc-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-media-icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: currentColor;
}

@media screen and (min-width: 768px) {
  .soc-media-container {
    min-width: 150px;
  }

  .soc-media {
    gap: calc(var(--soc-media-gap) + 2px);
  }

  .header .soc-media {
    justify-content: end;
  }
}
@media screen and (min-width: 1440px) {
  .soc-media-container {
    min-width: 300px;
  }
}

/**
  |============================
  | Header
  |============================
*/
.header {
  position: fixed;
  z-index: var(--z-index-header);

  height: 78px;
  width: 100%;

  color: var(--main-white-txt-cl);

  background-color: transparent;
  border-bottom: 0.5px solid var(--header-border-cl-20);

  transition: background-color var(--main-transition),
    backdrop-filter var(--main-transition);
}

.header.no-transparency {
  background-color: rgb(12 12 12 / 75%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 12px rgb(25 28 38 / 40%);
}

.header-container {
  height: 100%;
}

.mob-menu {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .header-container {
    position: relative;
  }

  .header-container .soc-media {
    display: none;
  }

  .burger-thumb {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  .menu-btn {
    padding: 25px 0;
  }

  .menu-icon {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .soc-media-icon {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .burger-thumb {
    min-width: 150px;
  }
}
@media screen and (max-width: 1439.98px) {
  .header-container .nav-container {
    display: none;
  }

  .mob-menu > .soc-media {
    display: none;
  }

  .menu-btn {
    display: flex;
    padding: 23px 0;

    border: none;
    background-color: transparent;
  }

  .menu-icon {
    width: 32px;
    height: 32px;
    stroke: var(--main-white-txt-cl);
  }

  .menu-btn .x-close-icon {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .burger-thumb {
    display: none;
  }
}

.nav-list {
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767.98px) {
  .nav-list {
    font-size: 18px;
    line-height: 1.33;
  }
}
@media screen and (max-width: 1439.98px) {
  .nav-list {
    font-size: 28px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1440px) {
  .nav-container {
    min-width: 300px;
  }
  .nav {
    height: 100%;
  }
  .nav-list {
    display: flex;
    height: 100%;
    gap: 32px;

    line-height: 1.29;
  }

  .nav-link {
    display: flex;
    height: 100%;
    padding-top: 27px;
    padding-bottom: 33px;

    align-items: center;
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 4px;
    height: 4px;

    background-color: var(--main-white-txt-cl);
    border-radius: 50%;
  }
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  position: relative;
}

.footer::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 32px;

  width: 100%;
  height: 0px;

  border: 0.5px solid var(--gray-arrow-cl-30);
  border-radius: 68px;
}

.footer.section {
  padding-top: 24px;
}

.footer-container {
  display: flex;
}

.footer .nav-container {
  display: none;
}

.footer .logo {
  width: 150px;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  font-size: 8px;
  line-height: 1.25;
}

.footer .logo,
.footer .logo > .accent {
  color: var(--main-dark-txt-cl);
}

.footer .logo > .accent {
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .footer.section {
    padding-top: 32px;
  }

  .footer-container {
    justify-content: space-between;
  }

  .footer::after {
    bottom: 48px;
  }

  .footer .soc-media {
    justify-content: end;
  }
}

@media screen and (max-width: 1439.98px) {
  .footer .logo {
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .footer.section {
    padding-top: 44px;
    padding-bottom: 160px;
  }

  .footer .nav-container {
    display: block;
  }

  .footer .nav-list {
    align-items: flex-start;
  }

  .footer .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer::after {
    bottom: 80px;
  }
}

/**
  |============================
  | Home-page
  |============================
*/

/**
  |============================
  | Hero
  |============================
*/
.hero .section {
  padding-top: calc(78px + 429px);
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero .section {
    padding-top: calc(78px + 528px);
    padding-bottom: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .section {
    height: 100%;
    padding-top: calc(78px + 196px);
    padding-bottom: 48px;
  }
}

.hero {
  margin-right: auto;
  margin-left: auto;

  color: var(--main-white-txt-cl);
  background-color: var(--main-black-bg);
}
@media screen and (min-width: 1440px) {
  .hero {
    height: 770px;
  }
}

.hero-content {
  position: relative;
  z-index: var(--z-index-hero-cont);
}

@media screen and (min-width: 1440px) {
  .hero-content-lists {
    display: flex;
    flex-flow: row-reverse;
    justify-content: start;
    gap: 275px;
  }
}

.hero-bg-img {
  position: absolute;
  top: 118px;
  left: 50%;
  transform: translateX(-50%);

  height: 439px;
  width: 100%;
  background-color: var(--main-black-bg);
  background-image: var(--hero-mob_tabl-bg-gradient),
    url(../img/home-page/hero/unsplash_RFDP7_80v5A_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 335px) {
  .hero-bg-img {
    width: 335px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767.98px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767.98px),
  screen and (min-resolution: 192dpi) and (max-width: 767.98px),
  screen and (min-resolution: 2dppx) and (max-width: 767.98px) {
  .hero-bg-img {
    background-image: var(--hero-mob_tabl-bg-gradient),
      url(../img/home-page/hero/unsplash_RFDP7_80v5A_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-bg-img {
    width: 542px;
    height: 710px;

    background-image: var(--hero-mob_tabl-bg-gradient),
      url(../img/home-page/hero/unsplash_RFDP7_80v5A_tabl.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-bg-img {
    background-image: var(--hero-mob_tabl-bg-gradient),
      url(../img/home-page/hero/unsplash_RFDP7_80v5A_tabl@2x.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .bg-img-container {
    position: relative;
  }

  .hero-bg-img {
    top: 0;
    left: 100%;
    transform: translateX(-100%);

    height: 770px;

    background-image: var(--hero-desk-bg-gradient),
      url(../img/home-page/hero/unsplash_RFDP7_80v5A_desk.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
  screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px) {
  .hero-bg-img {
    background-image: var(--hero-desk-bg-gradient),
      url(../img/home-page/hero/unsplash_RFDP7_80v5A_desk@2x.jpg);
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 150px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    margin-bottom: 196px;

    font-size: 180px;
    text-align: start;
  }
}

.hero .main-btn-group {
  gap: 14px;
  margin-bottom: 66px;
}
@media screen and (min-width: 768px) {
  .hero .main-btn-group {
    margin-bottom: 86px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .main-btn-group {
    margin-bottom: 0;
  }
}

.hero-descr {
  display: flex;
  flex-flow: column;
  gap: 32px;

  line-height: 1.29;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .hero-descr {
    flex-flow: row;
  }

  .hero-descr > .item:first-child {
    max-width: 338px;
  }

  .hero-descr > .item:last-child {
    max-width: 314px;
  }
}

/**
  |============================
  | About
  |============================
*/
.about-list {
  display: flex;
  flex-flow: column;
  gap: 64px;
}
@media screen and (min-width: 768px) {
  .about-list {
    gap: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .about-list {
    gap: 100px;
  }
}

.about-list .item {
  position: relative;
}

.section-subtitle {
  color: var(--gray-txt-cl);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;

  margin-bottom: 18px;
}
.section-descr {
  color: var(--main-dark-txt-cl);
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .about-list .item:nth-child(1) .section-descr {
    font-size: 18px;
    line-height: 1.33;
  }
}

.about .section-descr p:first-child {
  margin-bottom: 14px;
}

.about-list .item:nth-child(2) .item-descr-block {
  max-width: 263px;
}

@media screen and (max-width: 767.98px) {
  .about-list .item:nth-child(1) > .first-picture {
    display: block;
    margin-bottom: 20px;
  }

  .about-list .item:nth-child(2) {
    display: flex;
    flex-flow: column;
  }

  .about-list .item:nth-child(2) > div {
    display: flex;
    flex-flow: column-reverse;
  }

  .about-list .item:nth-child(2) > .first-picture {
    margin-bottom: 54px;
  }

  .about-list .item:nth-child(2) .item-descr-block {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .about-list .item:nth-child(1) > .second-picture {
    position: absolute;
    top: 209px;
    left: 300px;
    z-index: 1;
  }

  .about-list .item:nth-child(1) .item-descr-block {
    max-width: 472px;
  }

  .about-list .item:nth-child(2) > .first-picture {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
  }

  .about-list .item:nth-child(2) > div {
    display: flex;
    gap: 32px;
  }
}

@media screen and (max-width: 1439.98px) {
  .about-list .item:nth-child(1) .item-descr-block {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-list .item {
    display: flex;
  }

  .about-list .item:nth-child(1) {
    gap: 364px;
  }

  .about-list .item:nth-child(1) .item-descr-block {
    max-width: 473px;
    padding-top: 199px;
  }

  .about-list .item:nth-child(2) {
    flex-flow: row-reverse;
    gap: 87px;
  }

  .about-list .item:nth-child(2) > div {
    gap: 54px;
    padding-top: 127px;
  }
}

.rating-mark-block {
  position: absolute;
  z-index: var(--z-index-rating-mark-block);

  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 212px;
  height: 61px;
  padding-left: 67px;

  color: var(--second-gray-txt-cl);
  font-size: 12px;
  line-height: 1.33;
  text-transform: none;

  background-color: var(--main-black-bg);
  box-shadow: 1px 7px 22px var(--rating-mark-shd-cl-10);
  border-radius: 6px;
}

@media screen and (max-width: 374.98px) {
  .rating-mark-block.mar {
    top: 47%;
    right: 0;
  }

  .rating-mark-block.al {
    top: 33%;
    left: 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .rating-mark-block.mar {
    top: 420px;
    right: 0;
  }

  .rating-mark-block.al {
    top: 272px;
    left: 0;
  }
}
@media screen and (min-width: 768px) {
  .rating-mark-block.mar {
    top: 176px;
    left: 370px;
  }

  .rating-mark-block.al {
    top: 303px;
    right: 425px;
  }
}

.rating-mark-block::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);

  width: 41px;
  height: 41px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rating-mark-block.mar::before {
  background-image: url(../img/home-page/about/Ellipse1.png);
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .rating-mark-block.mar::before {
    background-image: url(../img/home-page/about/Ellipse1@2x.png);
  }
}

.rating-mark-block.al::before {
  background-image: url(../img/home-page/about/Ellipse.png);
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .rating-mark-block.al::before {
    background-image: url(../img/home-page/about/Ellipse@2x.png);
  }
}

.rating-mark-block > span {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 7px;

  font-size: 14px;
  line-height: 1;
}

.rating-mark {
  color: var(--main-white-txt-cl);
}

/**
  |============================
  | Restaurant
  |============================
*/
.restaurant.section {
  padding-top: 0;
  padding-bottom: 0;
}

.restaurant .section-descr {
  max-width: 239px;
}

@media screen and (max-width: 767.98px) {
  .restaurant .section-title {
    margin-bottom: 24px;
  }

  .restaurant .slider-btns {
    margin-top: 18px;
  }
}

@media screen and (min-width: 768px) {
  .text-content {
    display: flex;
    align-items: start;
    gap: 32px;
    margin-bottom: 80px;
  }

  .restaurant .slider-btns {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1439.98px) {
  .pic-desk-only {
    display: none;
  }

  .restaurant-swiper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .restaurant-container {
    position: relative;

    padding-right: 0;
  }

  .restaurant.section {
    padding-top: 44px;
    padding-bottom: 26px;
  }

  .restaurant .text-content {
    margin-bottom: 125px;
  }

  .restaurant .slider-btns {
    justify-content: center;
    margin-top: 51px;
  }

  .restaurant .main-btn-group {
    position: absolute;
    top: 0;
    right: 32px;
  }
}

/**
  |============================
  | Welcome
  |============================
*/
.welcome .section-title {
  color: var(--second-dark-txt-cl);
  font-size: 32px;
  line-height: 1.12;
}
@media screen and (min-width: 768px) {
  .welcome .section-title {
    width: 434px;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.11;
  }

  .welcome .text-content {
    display: block;
    margin-bottom: 40px;
  }
}

.welcome .section-descr {
  color: var(--second-dark-txt-cl);
  font-weight: 400;
}

.welcome p:nth-child(1) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .welcome .section-descr {
    display: flex;
    gap: 32px;
  }

  .welcome p:nth-child(1) {
    width: 306px;
    margin-bottom: 0;
  }

  .welcome p:nth-child(2) {
    width: 366px;
  }
}

@media screen and (min-width: 1440px) {
  .welcome-container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: start;
    gap: 32px;
  }

  .welcome .text-content {
    display: flex;
    flex-flow: column;
    max-width: 434px;
    margin-bottom: 0;
  }

  .welcome .section-title {
    margin-bottom: auto;
  }

  .welcome p:nth-child(1) {
    margin-bottom: 24px;
  }
}

/**
  |============================
  | Hotel
  |============================
*/
.hotel {
  color: var(--main-white-txt-cl);

  background-color: var(--main-black-bg);
}

.hotel.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.hotel .section-descr {
  color: inherit;
}

.hotel-mob-img {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .hotel .text-content {
    margin-bottom: 33px;
  }

  .hotel-img-list {
    display: none;
  }

  .hotel-mob-img {
    display: block;
  }

  .hotel-mob-img .main-img {
    margin-bottom: 27px;
  }

  .hotel-swiper .slider-btns {
    margin-top: 18px;
  }

  .hotel-swiper {
    margin-bottom: 40px;
  }

  .hotel .slider-icon {
    stroke: var(--main-white-txt-cl);
  }

  .hotel .slider-btn:disabled .slider-icon {
    stroke: rgba(255, 255, 255, 0.3);
  }
}

@media screen and (min-width: 768px) {
  .hotel.section {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .hotel .section-descr {
    max-width: 362px;
  }

  .hotel-img-list {
    display: flex;
    gap: 16px;
  }

  .hotel-img-list .item:nth-child(2n - 1) {
    display: flex;
    flex-flow: column;
    gap: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .hotel-img-list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .hotel.section {
    padding-bottom: 60px;
  }

  .hotel-img-list {
    justify-content: center;
  }

  .hotel-img-list {
    gap: 32px;
  }

  .hotel-img-list .item:nth-child(2n - 1) {
    gap: 28px;
  }

  .hotel-container {
    position: relative;
  }

  .hotel .main-btn-group {
    position: absolute;
    top: 0;
    right: 32px;
  }
}

/**
  |============================
  | Location
  |============================
*/
.img-mob-tabl,
.img-desk-only {
  position: relative;
}

.img-mob-tabl img,
.img-desk-only img {
  box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

.map-pointer {
  position: absolute;
  top: 48.4%;
  left: 36.9%;

  width: 20px;
  height: 28px;
}
@media screen and (min-width: 375px) {
  .map-pointer {
    top: 183px;
    left: 122px;

    width: 27px;
    height: 34px;
  }
}
@media screen and (min-width: 768px) {
  .map-pointer {
    top: 269px;
    left: 318px;

    width: 34px;
    height: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .map-pointer {
    top: 241px;
    left: 286px;
  }
}

.location-address .item {
  max-width: 214px;
}

.address-link {
  color: var(--second-dark-txt-cl);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.tel {
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.tel > span {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 500;
}

.tel-block {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

@media screen and (max-width: 767.98px) {
  .address-list .item:first-child {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 768px) {
  .location .section-title {
    margin-bottom: 40px;
  }

  .address-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tel-link {
    font-size: 18px;
    line-height: 1.33;
  }

  .tel-block {
    gap: 2px;
  }
}

@media screen and (max-width: 1439.98px) {
  .location .img-desk-only {
    display: none;
  }

  .img-mob-tabl {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .location .container {
    padding-left: 64px;
  }

  .img-mob-tabl {
    display: none;
  }

  .location-container {
    display: flex;
    gap: 32px;
  }

  .location-content {
    display: flex;
    flex-flow: column;
  }

  .location .section-title {
    margin-bottom: auto;
  }

  .address-list {
    gap: 70px;
  }

  .tel {
    display: flex;
    gap: 12px;
  }

  .tel > span {
    font-weight: 700;
  }
}

/**
  |============================
  | Modal form
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bg-40);
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 95%;
  min-height: 414px;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;

  color: var(--main-white-txt-cl);
  background-color: var(--main-black-bg);
  border-radius: 2px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 345px) {
  .modal {
    width: 335px;
    padding-top: 32px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 628px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  color: var(--cross-icon-bg-cl);

  background-color: transparent;
  border-color: transparent;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .close-btn {
    top: 24px;
    right: 24px;

    width: 32px;
    height: 32px;
  }
}

.cross-icon {
  width: 28px;
  height: 28px;

  stroke: var(--main-white-txt-cl);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .cross-icon {
    width: 32px;
    height: 32px;
  }
}

.modal-subtitle {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
}

.modal-label,
.modal-select {
  display: flex;
  flex-flow: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .modal-label,
  .modal-select {
    max-width: 266px;
  }
}

.modal .modal-title {
  margin-bottom: 40px;

  color: var(--main-white-txt-cl);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 344.98px) {
  .modal .modal-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .modal .modal-title {
    margin-bottom: 60px;

    font-size: 36px;
    line-height: 1.11;
  }
}

.modal-inp,
.select-inp {
  margin-bottom: 8px;
  padding-bottom: 18px;

  color: inherit;

  border: transparent;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  background-color: var(--main-black-bg);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp-title {
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;

  color: #d8d7d7;
}

.select-inp {
  appearance: none;
}

.select-inp:focus {
  outline: none;
}

.modal-select,
.modal-label.rel {
  position: relative;
}

.modal-label.rel > .modal-inp {
  cursor: default;
}

.select-icon {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;

  stroke: var(--main-white-txt-cl);
}

.modal-inp::placeholder,
.modal-inp,
.select-inp {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: inherit;
}

.modal-form-block {
  display: flex;
  flex-flow: column;
  gap: 32px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-form-block {
    flex-flow: row;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-bottom: 80px;
  }

  .book-table label:nth-child(3) {
    order: 10;
  }
}

.modal-btn {
  height: 46px;
  padding: 0 48px;
  margin-left: auto;
  margin-right: auto;

  border-color: inherit;
}
@media screen and (min-width: 768px) {
  .modal-btn {
    padding: 0 133px;
  }
}

.price-amount {
  display: none;
}
@media screen and (min-width: 768px) {
  .price-amount {
    display: flex;
  }

  .price-date {
    display: none;
  }
}
